
<div *ngFor="let item of todoItems; let i = index" class="todo-element">
    <i class="fa-circle" [ngClass]="{'fas':item.isComplete,'far':!item.isComplete}" (click)="markComplete(i)"></i>
    <input class="reCool" type="text" [ngClass]="{'tachado':item.isComplete}" [value]="item.text">
</div>
<div class="todo-element">
    <i class="fas fa-plus"></i>
    <input class="reCool" type="text">
</div>
